
th, td {
    border-spacing: 25;
    border: 1px solid #ddd;
    padding: 15px;
    font-size: 18px;
}

th:first-child {
    border-radius: 6px 0 0 0;
}

th:last-child {
    border-radius: 0 6px 0 0;
}

tr:last-child > td:first-child {
    border-radius: 0 0 0 6px;
}

tr:last-child > td:last-child {
    border-radius: 0 0 6px 0;
}

th:only-child{
    border-radius: 6px 6px 0 0;
}

tbody > tr:hover {
  background: #fbf8e9;
  transition: all 0.1s ease-in-out;
}

thead > tr {
    background: #6AD7F9;
    text-align: center;
}

tbody td:first-child,
tbody td:last-child {
    text-align: center;
}

.alternate {
    background: #f5f5f5;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
}

#marks {
    margin-top: 40px;
    margin-bottom: 60px;
    width: 680px;
}

h2 {
    margin: 30px;
}

#delete-marks {
    float: right;
    background: white;
}

#logout {
    font-size: 17px;
    margin-left: 15px;
    margin-top: 20px;
    float: left;
}